<header>
    <div class="logo_box">
        <p><a href="/index">TodoList</a></p>
    </div>
    <ul class="todo_nav">
        <li><a href="diary">Diary</a></li>
        <li><a href="mypage">MyPage</a></li>
    </ul>
</header>